@charset "utf-8";

/* ページ全体のスタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* コンテナのスタイル */
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  white-space: pre-wrap;
}

/* 見出しのスタイル */
h1 {
  color: #191c79;
/*  margin-bottom: 0px;*/
}

/* メッセージのスタイル */
#message {
  font-size: 18px;
  color: #666;
  margin-bottom: 0px;
  white-space: inherit;
  padding: 50px;
}

/* 結果表示エリアのスタイル */
#result {
  font-size: 18px;
  padding-right: 20px;
  background-color: #c1e6cb;
  text-align: right;
}

/* 結果表示エリアのスタイル */
#select {
  font-size: 18px;
  padding-right: 20px;
  background-color: #c1e6e6;
  text-align: left;
}

/* ボタンのスタイル */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* 強調表示 */
.highlight {
  color: #ff6600;
  font-weight: bold;
}
